:root {
  --gray: rgba(3, 3, 3, 0.4);
  --black: #000;
  --white: rgb(0, 0, 0);
  --roboto: 'Roboto Condensed', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: #f4f5f6;
  font-family: var(--roboto);
}

.font-sm {
  font-size: 11px;
}

.gray {
  color: var(--gray);
}

.black {
  color: var(--black);
}

img[alt="user"] {
  width: 2rem;
  height: 2rem;
}

img[alt="menu"] {
  height: 18px;
}

.small-title {
  font-size: 14px;
  font-weight: 700;
}

.news-title {
  font-family: var(--roboto);
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.news-title a {
  color: var(--black);
  text-decoration: none;
}

.h3 a {
  color: var(--black);
  text-decoration: none;
}

.news-title a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.news-summary {
  font-size: 13px;
  color: #333;
  font-weight: 400;
}

.img-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem 1rem;
  color: rgb(255, 0, 0);
  font-family: var(--roboto);
  font-weight: 700;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.profile-img {
  border-radius: 50%;
  width: 63px;
  height: 63px;
}

.h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.h3 a:hover {
  color: #f92859;
}

.h3 span {
  font-size: 14px;
}

.debate-section-top {
  border-top: 4px solid #f92859;
  border-bottom: 3px double #d9d9d9;
}

.debate-section-bottom {
  border-bottom: 4px solid #1c87fb;
}

.text-gray-light {
  color: #555;
}

.vs-btn {
  position: relative;
  text-align: center;
}

.vs-btn p {
  position: absolute;
  background-color: var(--black);
  color: #ccc;
  padding: 5px 8px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  top: -1.2rem;
}

